rules_version = '2';
service cloud.firestore {
    match /{document=**} {
        allow read: if request.auth != null && request.auth.uid in resource.data.players;
        allow write: if false;
    }
}