@use '@/assets/variables';

.table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: variables.$color-primary-4;
}

.table-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: variables.$color-primary-2;
    cursor: not-allowed;

    &.can-click-it {
        cursor: pointer;

        &:hover {
            background-color: variables.$color-primary-3;
        }
    }
}

.cell-icon {
    width: 50%;
    position: absolute;
}

.line-icon {
    stroke-opacity: 80%;
}
