$spacing-1: 1 * 4px;
$spacing-2: 2 * 4px;
$spacing-3: 3 * 4px;
$spacing-4: 4 * 4px;
$spacing-5: 5 * 4px;
$spacing-6: 6 * 4px;

$screen-1: 600px;
$screen-2: 768px;
$screen-3: 992px;
$screen-4: 1200px;

$font-size-h1: 1.953rem;
$font-size-h2: 1.563rem;
$font-size-h3: 1.25rem;
$font-size-p: 1rem;

$color-primary-1: #f9fff7;
$color-primary-2: #d7f7cd;
$color-primary-3: #96d485;
$color-primary-4: #7db96d;
$color-primary-5: #020801;

$color-accent-1: #f18913;
$color-accent-2: #d8801b;
