$spacing-1: 1 * 4px;
$spacing-2: 2 * 4px;
$spacing-3: 3 * 4px;
$spacing-4: 4 * 4px;
$spacing-5: 5 * 4px;
$spacing-6: 6 * 4px;

$screen-1: 600px;
$screen-2: 768px;
$screen-3: 992px;
$screen-4: 1200px;
