@use './variables';

.app {
    background-color: variables.$color-primary-2;
    border-radius: variables.$spacing-2;
    padding: variables.$spacing-6;
    width: 100%;
    box-sizing: border-box;
    margin: 20px;
}

@media only screen and (min-width: variables.$screen-2) {
    .app {
        width: 66%;
        margin: 40px 20px;
    }
}

@media only screen and (min-width: variables.$screen-4) {
    .app {
        width: 33%;
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(
        red(variables.$color-primary-5),
        green(variables.$color-primary-5),
        blue(variables.$color-primary-5),
        0.8
    );

    &.is-hidden {
        display: none;
    }

    .text {
        color: variables.$color-primary-1;

        &::after {
            content: '';
            animation: dots 1.5s infinite;
        }
    }
}

@keyframes dots {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
}
